<div id="page-content">

<!--Добавляем отдельный контейнер и страиваем картинку на первый экран-->
<div class="container" id = "home-container">

  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Simple Блог</h1>
    <p class="lead">Это мое тестовое приложение Simple Blog.</p>
      <p> Написано для оттачивания навыков программирования на RoR </p>
    <hr class="my-4">
    <p>Использованно: RoR 6.0, Bootstrap 4.5.0, </p>
    <p class="lead">
      <a class="btn btn-success btn-lg text-white" href="#" role="button">Вступить!</a>
    </p>
  </div>
</div>

</div>



