<!--Добавляем отдельный контейнер и страиваем картинку на первый экран-->
<div class="container" id="home-container">

  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Simple Блог</h1>
    <p class="lead">Это мое тестовое приложение Simple Blog.</p>
    <p> Написано для оттачивания навыков программирования на RoR </p>
    <ul>
      В блоге использован следующий функционал:
      <li>Пользователь может просматривать любую статью.  </li>
      <li> Пагинация </li>
      <li>Теги = категории</li>
      <li>Админ может создавать новые категории</li>
      <li>Админ может редактировать/удалять любую статью</li>
      <li>Админ может редактировать/удалять любого пользователя</li>

    </ul>
    <hr class="my-4">
    <p>Использованно: RoR 6.0, Bootstrap 4.5.0 </p>
    <p>Тестовый пользователь:  budka52@bk.ru ,  пароль 123456 </p>
    <p class="lead">
      <%= link_to "Регистрация", signup_path, class: "btn btn-success btn-lg text-white" %>
      <%= link_to "Вход", login_path, class: "btn btn-success btn-lg text-white" %>
    </p>
  </div>
</div>





